/* CSS Document */
#id_main{
}
#id_title_div{
}
#id_navigation_main{
}
#id_switchimg_main{
}
#id_register_main{
text-align:left;
}
#id_ditials_main{
}
#id_otherinfo_main{
}
.ditials_item{
}
#id_title_img{
height:50px;
}
#id_sologan_text{
font-size:16px;
}
#id_register_form{
border:1px;
}
#id_swanregister td{
vertical-align:top;
}
.navigation ul
{
list-style-type:none;
margin:0;
padding:0;
padding-top:6px;
padding-bottom:6px;
}
.navigation li
{
display:inline;
}
.navigation a:link
{
font-weight:bold;
color:#ffffff;
background-color:#98bf21;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
.navigation a:visited
{
font-weight:bold;
color:#ffffff;
background-color:#98bf21;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
.navigation a:hover
{
background-color:#7A991A;
}
.navigation a:active
{
background-color:#7A991A;
}
.ditials_item img{
width:100px;
height:100px;
}
.otherinfo a:link{
color:#000000;
text-align:center;
}
.otherinfo a:visited{
color:#000000;
text-align:center;
}
.otherinfo a:hover{

}
.otherinfo a:active{

}
.ditials_item a:link{
color:#000000;
}
.ditials_item a:visited{
color:#000000;
}
.ditials_item{
text-align:center;
}
.ditials_item a:hover{
}
.ditials_item a:active{
}
.focus {
width:800px;
height:600px;
overflow:hidden;
position:relative;
}
.focus img {
border:0;
}
.focus_ul {
height:800px;
position:absolute;
}
.focus_ul {
list-style:none;
float:left;
width:800px;
height:600px;
overflow:hidden;
list-style:none; 
margin:0px; 
padding:0px;
background:#000;
}
.focus_li{
list-style:none;
float:left;
width:800px;
height:600px;
overflow:hidden;
list-style:none; 
margin:0px; 
padding:0px;
background:#000;
}
.focus_ul {
position:absolute;
overflow:hidden;
}
.focus div {
position:absolute;
overflow:hidden;
}
.focus .btnBg {
position:absolute;
width:800px;
height:20px;
left:0;
bottom:0;
background:#000;
display:none;
}
.focus .btn {
position:absolute;
width:800px;
height:23px;
padding:0px 8px;
right:0;
bottom:6px;
text-align:right;
overflow:hidden;
}
.focus .btn span{
display:inline-block;
_display:inline;
_zoom:1;
width:21px;
height:21px;
line-height:21px;
text-align:center;
_font-size:0;
margin-left:5px;
cursor:pointer;
background:#333;
color:#fff;
}
.focus .btn span.on {
background:#000;
color:#fff;
border:1px solid #fff;
}

